body {
    background: black;
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.container {
    outline-style: outset;
    border-style: outset;
    padding: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
}


button.accordion {
    font: italic bold 12px/30px arial, sans-serif;
    background-color: purple;
    color: white;
    cursor: pointer;
    width:  100%;
    text-align: left;
    font-size: 19px;
    transition: 0.4s;
}


.accordion.active, .accordion.hover {
    background-color:  blue;
}

.panel {
    border-style: groove;
    border-width: 1px;
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

button.accordion:after {
    content: '+';
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

button.accordion.active:after {
    content: "-";
}