button.accordion {
    background-color: #eee;
    color:  #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline:  none;
    transition: 0.4s;
}

nav.test {
    padding: 10px;
    color: #444;
}

button.accordion.active, button.accordion.hover {
    background-color:  #ddd;
}

div.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

button.accordion:after {
    content: '+';
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

button.accordion.active:after {
    content: "-";
}